.dialogs{
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogs a{
    text-decoration: none;
    color: white;
}

.dialog {
    padding: 5px 0px 0px 10px;
}

.dialog a.active{
    color: maroon;
}