.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogs a {
    text-decoration: none;
    color: white;
}

.dialog {
    padding: 5px 0px 0px 10px;
}

.addMessage {
    /* justify-self: end; */
    /* display: block; */
    width: 311px;
    height: 100px;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.07);
    border-color: -moz-use-text-color #FFFFFF #FFFFFF -moz-use-text-color;
    border-image: none;
    border-radius: 6px 6px 6px 6px;
    border-style: none solid solid none;
    border-width: medium 1px 1px medium;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12) inset;
    color: #555555;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1em;
    line-height: 1.4em;
    padding: 5px 8px;
    transition: background-color 0.2s ease 0s;
}

.sendMessage {
    transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
    
}
.sendMessage :hover {
    box-shadow: 0 0 40px 40px red inset;
}

.mybtn {
	background: darkgoldenrod;
    color: #fff;
}

.mybtn:hover {
	background: #2c3e50;
}

.mybtn:active {
	background: #2c3e50;
	top: 2px;
}

.btn {
    border: none;
	font-family: 'Lato';
	font-size: inherit;
	color: inherit;
	background-color: cadetblue;
	cursor: pointer;
	padding: 25px 80px;
	display: inline-block;
	margin: 15px 20px;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 700;
	outline: none;
	position: relative;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.btn:after {
	content: '';
	position: absolute;
	z-index: -1;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

/* Pseudo elements for icons */
.btn:before {
	font-family: 'FontAwesome';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	position: relative;
	-webkit-font-smoothing: antialiased;
}
